/* main components */
.lead {
  margin-top: 25px;
  margin-left: 0px;
}

.container {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: ghostwhite;
  justify-content: space-evenly;
  align-items: baseline;
}

#login_container {
  display: flex;
}


/* navbar */
nav {
  font-size: 15px;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color:white;
  margin-top:5px;
}

.nav-link {
  color:white;
  font-weight:bold;
}

.nav-link:hover {
  color:orange;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text {
  color: white;
}


/* tables */
.container table {
  width:90%;
}

.playlist_table {
  border-collapse: collapse;
  border-color: black;
  width: 90%
}

.playlist_table th, .playlist_table td {
  border:1px solid black;
}


/* froms */
fieldset {
  border: 5px solid blue;  /* !!!!!!!!!!!! marche pas !!!!!!!!!!! */
}

.form-inline{
  margin-left: 0px;
}


/* box */
.box {
  width: 40%;
  padding: 10px;
  border: 1px solid black;
  margin: 5%;
  align-items: : center;
}

.box h4 {
  padding: 10px;
  border-bottom : 1px solid black;
}

.box form {
    padding: 10px;
}

.box label {
  margin-left: 0;
}


/* various */
.error_message {
  color:red;
}

h4 {
  padding-top: 20px;
}

.centered {
  display: flex;
  align-self: center;
  margin: auto;
}

label{
  margin-top: 10px;
  margin-bottom: 5px;
}

label sm{
  font-size: 70%;
}

.container p {
  margin-right:10%;       /* might be a conflict with Laurane's pages */
}


/* ids */

#playlist_image {
  float: left;
  padding-right: 10px;
  padding-bottom:10px;
}

#song_player {
  float:right;
  padding-bottom: 10px;
  padding-left: 10px;
}

#playlist_add_genre, #playlist_descr {
  height: 100px;
  width: 100%;
}

#playlist_name {
  height: 30px;
  width: 100%;
}

#playlist_titles {
  height:200px;
  width:100%;
}