@font-face{
  font-family:"Arvo";
  src: url(".//fonts/arvo.ttf") format("truetype");
}

/* main components */
.lead {
  margin-top: 25px;
  margin-left: 0px;
}

body:before{
  content:"";
  position: fixed;
  width:100vw;
  background-image: url("./img/background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  filter: blur(6px);
  z-index: -9;
}

.container {
  background-color: rgba(0,0,0,0.55);
  justify-content: space-evenly;
  align-items: baseline;
  font-family: georgia;
  color: white;
  position: absolute;
  top: 15%;
  left:0%;
  right:0%;
  font-family: arvo;
  padding: 15px;
}

#login_container {
  display: flex;
}


/*homepage*/
.homepage{
  height:100%;
}

.homepage .content h4{
  padding: 20px 50px 20px 50px;
  background-color: rgb(0,0,0, 0.4);
  color:white;
  font-weight: bold;
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5em;
}

.homepage .content button{
  transition: 0.4s;
  box-shadow: 6px 6px 10px 10px rgba(0,0,0,0.2);
  position: absolute;
  top : 65%;
  left : 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: transparent;
  color:white;
  border : 1px solid white;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  overflow: hidden;
  outline: none;
}

.homepage .content button:hover{
  box-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.4);
}

.homepage .content button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: all 650ms;
}

.homepage .content button:hover:before {
  left: 100%;
}


/* navbar */
nav {
  font-size: 1.15em;
}

.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color:white;
  margin-top:5px;
}

.nav-link {
  color:white;
  font-weight:bold;
}

.navbar-brand:hover{
  color:orange;
}

.nav-link:hover {
  color:orange;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-text {
  color: white;
}


/* tables */
.container table tbody tr td a{
	font-weight:bolder;
  text-decoration: none;
  color:white;
}

.container table tbody tr td a:hover{
  color:orange;
  transition: 0.2s;
}

.container table thead{
  background-color: orange;
}

.container table thead tr th{
  font-size: 1.15em;
  text-align: left;
}

.container table tbody tr{
  border-bottom: 1px solid #dddddd;
}

.container table tbody tr:last-of-type{
  border-bottom: 2px solid white;
}

.container table {
  width:90%;
  box-shadow: 0 0 20px rgba(255,255,255,0.15);
}

.sort-link {
  color:white;
  font-weight:bold;
}

.sort-link:hover {
  color:black;
	text-decoration: none;
}

.playlist_table {
  border-collapse: collapse;
  width: 90%;
  border-radius:10px 10px 0 0;
  overflow: hidden;
}

.playlist_table th, .playlist_table td {
  padding: 7px;
}

.ellipsis {
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
		
}


/* forms */
.form-inline{
  margin-left: 0px;
}


/* box */
.box {
  width: 40%;
  padding: 10px;
  border: 1px solid white;
  margin: 5%;
  align-items: center;
}

.box h4 {
  padding: 10px;
  border-bottom : 1px solid white;
}

.box form {
    padding: 10px;
}

.box label {
  margin-left: 0;
}


/* various */
.error_message {
  color:tomato;
}

.account_message {
  color:GreenYellow;
}

h4 {
  padding-top: 20px;
}

.centered {
  display: flex;
  align-self: center;
  margin: auto;
}

label{
  margin-top: 10px;
  margin-bottom: 5px;
}

label sm{
  font-size: 70%;
}

.container p {
  margin-right:10%;
}

.btn {
  margin-bottom: 8px;
}

.long_text_area {
  height: 100px;
  width: 100%;
}

.one_line_text_area {
  height: 30px;
  width: 100%;
}

.del-link {
  color:tomato;
  font-weight:bold;
}

.del-link:hover {
  color:white
}


/* ids */
#playlist_image {
  float: left;
  padding-right: 10px;
  padding-bottom:10px;
}

#song_player {
  float:right;
  padding-bottom: 10px;
  padding-left: 10px;
}

#player {
  float:right;
  padding-bottom: 10px;
  padding-left: 10px;
}

#playlist_titles {
  height:200px;
  width:100%;
}

.playlistInfos {
  margin-top: 15px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color:black;
  display: flex;
  flex-direction: column;
  border : 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  max-width: 500px;
}

.playlistInfos p{
  font-size: 0.95em;
}